phishorfish/.bundle/
phishorfish/.rspec
phishorfish/.ruby-version
phishorfish/coverage/
phishorfish/db/*.sqlite3
phishorfish/db/schema.rb
phishorfish/lib/tasks/
phishorfish/log/
phishorfish/tmp/
phishorfish/vendor/bundle
