/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .google_signin_link {
    color: white;
    font-weight: 700;
}

.google_signin_link:hover {
  color: #56d886;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: bold;
}

h2 {
  margin: 64px 0 32px;
}

h3 {
  margin: 24px 0 16px;
}

.mg_8 {
  margin: 8px 0;
}

.mg_16 {
  margin: 16px 0;
}

.nav_customize {
  background-color: black !important;
  color: #56d886 !important;
  padding: 16px 32px !important;
}

.a_customize {
  color: #45ad6b;
}

.a_customize:hover {
  color: #3c975e;
}

.btn-primary {
  background-color: #45ad6b;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #3c975e;
  border-color: transparent;
}

